{% extends 'base.html' %}
{% load static %}


{% block content %}
<h3>SHOPPING BAG</h3>
{% if items > 0 %}
<div id="shoppingBasket" class="content-wrapper">

    <table class="table" style="margin-top:3vh;">
        <thead>
        <tr>
            <th>Items</th>
            <th></th>
            <th>Qty</th>
            <th>Size</th>
            <th>Order Value</th>

        </tr>
        </thead>
        <tbody>
        {% for item in items_of_cart %}
        <tr class="cart-item-{{item.product.id}}">
            <td class="colum-image">
                {% for img in item.product.images.all|slice:":1" %}
                <div class="basket-img">
                    <a href="{{ item.product.get_absolute_url }}"> <img src="{{ img.image.url }}"></a>
                </div>
                {%endfor%}
            </td>
            <td class="colum-description">
                <div>
                    <h6>{{item.product.brand}}</h6>
                    <p class="item-article-name">{{item.product.title}}</p>
                    <a href="{{item.product.get_absolute_url}}">More details</a>
                </div>
            </td>
            <td>
                <!--Form for dynamic view qty of products -->

                <form action="" method="get">
                    <input type="number" class="cart-item-amount" data-id="{{item.id}}" name="amount"
                           value="{{item.amount}}" min="1">
                </form>
            </td>
            <td class="size">{{item.size}}</td>
            <td>
                <div id="cart-item-total-{{item.id}}">
                    {{item.item_total_price }} EUR
                </div>
            </td>
            <td>
                <div class="product-delete-icon">
                    <a href="#" class="remove-from-cart" data-slug="{{item.product.slug}}"
                       data-id="{{item.product.id}}" title="Remove from Cart">
                        <span class="lnr lnr-cross icon-close" style="font-size:1.2em;"></span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="col-content-wrapper">
        {% if summ > 0 %}
        <div id="cart-total-summ"><p>Total: {{summ}} EUR</p></div>
        {% endif %}
    </div>

    <div class="col-content-wrapper">
{% if not request.user.is_authenticated %}
        <a href="{% url 'login'%}">
            <button class="btn reg-btn" title="Login">PLEASE, LOGIN FIRST</button>


        </a>
        {% else %}
        <a href="{% url 'checkout' %}">
            <button class="btn process-btn">GO TO CHECKOUT</button>
        </a>
        {% endif %}
    </div>
</div>

{% endif %}
<div class="col-content-wrapper">
        <div class="cart-empty" id="cart-is-empty" data-target="{{summ}}" style="display:none;">YOUR SHOPPING
            BAG IS EMPTY
        </div>
    </div>

<!--<script src='{% static "js/jquery.js" %}'></script>-->






{% endblock content %}


