{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="checkoutBasket" class="content-wrapper">
    <h3>Your order</h3>
    <div class="col-content-wrapper"><p>Total: {{summ}} EUR</p></div>
    <table class="table" style="margin-top:3vh;">
        <thead>
        <tr>
            <th>Items</th>
            <th></th>
            <th>Qty</th>
            <th>Size</th>
            <th>Order Value</th>

        </tr>
        </thead>
        <tbody>
        {% for item in items_of_cart %}
        <tr>
            <td class="colum-image">
                {% for img in item.product.images.all|slice:":1" %}
                <div class="basket-img">
                    <a href="{{ item.product.get_absolute_url }}"> <img src="{{ img.image.url }}"
                                                                        style="width:7vw;"></a>
                </div>
                {%endfor%}
            </td>
            <td class="colum-description">
                <div>
                    <h6>{{item.product.brand}}</h6>
                    <p class="item-article-name">{{item.product.title}}</p>
                </div>
            </td>
            <td>
                {{item.amount}}
            </td>
            <td class="size">{{item.size}}</td>
            <td>
                <div>
                    {{item.item_total_price }}
                </div>
            </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="col-content-wrapper">

        <a href="{% url 'create_order' %}">
            <button class="btn process-btn">GO TO CHECKOUT</button>
        </a>
    </div>
</div>

{% endblock content %}