{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="content-wrapper">
    <div class="auth-cont">
    <div class="col-content-wrapper">
        <h3>Existing Customers</h3>
<p>Sign Into Ecom Shop</p>
<form action="" method="post">
        {% csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn login-btn" value="LOGIN ">
</form>
        </div>
    <div class="col-content-wrapper">
<h3>New Customers</h3>
        <a href="{% url 'registration' %}">
            <button class="btn reg-btn">REGISTER</button>
        </a>
    </div>
    </div>
    </div>

{% endblock content %}

