{% extends 'base.html' %}

{% load static %}

{% block content  %}
<div>
    <div class="content-wrapper prod-cont">
        <div class="col-content-wrapper">
            <div class="col-img-galerie-carousel">
                <div class="row-slider">
                    <div class="main-img" id="pr-galery" style="-webkit-overflow-scrolling: touch;" ontouchstart="turn_start(event);" ontouchmove="check_direction(event);"
ontouchend="turn_page(event);">
                        {% for img in product.images.all %}
                        <img src="{{ img.image.url}}" id="mod-img-{{ img.id }}">
                        {% endfor %}
                        <a href="#" class="car-control prev">
                            <span class="lnr lnr-chevron-left"></span>
                        </a>
                        <a href="#" class="car-control next">
                            <span class="lnr lnr-chevron-right"></span>
                        </a>
                    </div>
                </div>

                <div class="modal-product-galerie mod-cl" id="cont-img">
                    <div class="remove-cont">
                        <span id="closyaka_product" class="lnr lnr-cross icon-close"></span>
                    </div>
                    <div class="modal-slider-control">
                        <!--<span class="prev lnr lnr-chevron-left"></span>-->
                        <!--<span class="next lnr lnr-chevron-right"></span>-->
                        <img class="modal-content" id="mod-show" src="#">
                    </div>
                </div>
                <div class="triger-container">
                    <div class="triger-slider-limiter">
                        <div class="triger-column-slider">
                            {% for img in product.images.all %}
                            <img class="demo-img" src="{{ img.image.url}}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-content-wrapper">
            <div class="info-sec flex-col">
                <div class="pr-info-top-sec">
                    <p>{{product.brand}}</p>
                </div>
                <div class="pr-info-top-sec">
                    <h3>{{ product.title }}</h3>
                </div>
            </div>
            <div class="product-price">
                <strong>Price:</strong> {{ product.price }} EUR
            </div>
            <div class="info-sec flex-col v-line">
                <div class="dropdown-control-container">
                    <div class="dropdown-control-container dropdown-choices">
                        <div class="h-text">
                            Choose your size
                        </div>
                        <div class="h-icon">
                            <span class="lnr lnr-chevron-down"></span>
                        </div>
                    </div>
                    <div class="dropdown-control-container dropdown-content">
                        {% for i in productsize %}
                        {% if product == i.product %}
                        <div class="flex-row row-size">
                            <div class="pr-s" data-size="{{i.id}}">{{i.size}}</div>
                            {% for j in sizestock %}
                                {%if i.id == j.productSize_id%}
                                    {% if j.stock == 0 %}
                                        <div>OUT OF STOCK</div>
                                    {% elif j.stock < 4 %}
                                         <div style="color:red;">Only {{j.stock}} in stock</div>
                                    {% else %}
                                        <div></div>
                                    {%endif%}
                                <div class="pr-st-qty" data-stock="{{j.stock}}" style="display:none;"></div>
                                {%endif%}
                            {%endfor%}
                        </div>
                        {%endif%}
                        {% endfor %}
                    </div>
                </div>
                <div class="text-cont-right">
                    <a href="#" class="modal-menu">Size Guide</a>
                </div>
                <div class="butt-container">
                    <a class="add-to-cart" data-slug="{{product.slug}}" data-title="{{product.title}}"
                       data-price="{{product.price}}" href="#">
                        <button class="basket-btn">
                            ADD TO CART
                        </button>
                    </a>
                </div>
            </div>
            <div class="pr-desc">

                <p>{{product.description}}</p>
            </div>
        </div>

    </div>
    <div class="modal-tab" id="size-guide">
        <div class="remove-cont">
            <span class="lnr lnr-cross icon-close"></span>
        </div>
        <div class="modal-size-tab">
            <div class="tab-wrapper">
                <div class="tab-caption">
                    MEASUREN
                </div>
                <div class="tab-caption">
                    SIZE GUIDE
                </div>
            </div>
            {% for i in infoimg.all %}

            <div class="tab-content">
                <img src="{{i.image.url}}" alt="">
            </div>
            {%endfor%}
        </div>
    </div>
</div>


{% endblock content %}

