{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-content-wrapper">
<h3>Register</h3>
<form action="" method="post">
        {% csrf_token %}
    <div>
        {{form.username|as_crispy_field }}
    </div>
    <div>
        {{form.password|as_crispy_field }}
    </div>
    <div> {{form.password_check|as_crispy_field }}
    </div>
    <div>
        {{form.first_name|as_crispy_field }}
    </div>
    <div>
        {{form.last_name|as_crispy_field }}
    </div>
    <div>
        {{form.email|as_crispy_field }}
    </div>
    <input type="submit" class="btn reg-btn" value="REGISTER">
</form>
    </div>

{% endblock content %}
