{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <h2>Thank you</h2>
</div>

{% endblock content %}


<!--{% load static %}-->

<!--<html lang="en">-->

<!--<head>-->

    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->

    <!--<title>My Shop</title>-->


    <!--&lt;!&ndash;  CSS &ndash;&gt;-->
    <!--&lt;!&ndash;<link rel='stylesheet' href='{% static "css/bootstrap.css" %}'>&ndash;&gt;-->
    <!--<link rel='stylesheet' href='{% static "css/shop-homepage.css" %}'>-->
    <!--<link rel='stylesheet' href='{% static "css/styles.css" %}'>-->
    <!--<link rel='stylesheet' href='{% static "css/palette.css" %}'>-->
    <!--<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">-->


    <!--&lt;!&ndash; HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
    <!--&lt;!&ndash; WARNING: Respond.js doesn't work if you view the page via file:// &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--&lt;!&ndash;<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash; jQuery &ndash;&gt;-->
    <!--<script src='{% static "js/jquery.js" %}'></script>-->

    <!--&lt;!&ndash; Javascript &ndash;&gt;-->
    <!--<script src="{% static 'js/scripts.js' %}"></script>-->

    <!--&lt;!&ndash;<script src="{% static 'js/bootstrap.js' %}"></script>&ndash;&gt;-->
<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<div class="main-nav-bar-wrapper">-->
    <!--<div class="nav-cont">-->
        <!--<div class="site-label-cont">-->
            <!--<a class="site-label nav-text" href="/">Ecom Shop</a>-->
        <!--</div>-->
        <!--<div class="nav-bar">-->
            <!--<ul class="main-nav-bar">-->
                <!--<li class="close-pop-up"><span class="lnr lnr-cross icon-remove"></span></li>-->
                <!--<li class="nav-hover">-->
                    <!--<div class="resp-nav-wrap">-->
                        <!--<div>-->
                            <!--<a href="/category/jackets/" class="nav-hover-btn">-->
                                <!--Jackets-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div><span class="nav-icon glyphicon glyphicon-menu-down"></span></div>-->
                    <!--</div>-->
                    <!--<div class="subnav-hover">-->
                        <!--<a href="/sub_category/leder-jackets">Leder Jackets</a>-->
                        <!--<a href="/sub_category/winter-jackets">Winter Jackets</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-hover">-->
                    <!--<div class="resp-nav-wrap">-->
                        <!--<div>-->
                            <!--<a href="/category/dresses/" class="nav-hover-btn">-->
                                <!--Dresses-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div><span class="nav-icon glyphicon glyphicon-menu-down"></span></div>-->
                    <!--</div>-->

                    <!--<div class="subnav-hover">-->
                        <!--<a href="/sub_category/leder-jackets">Sommer Dresses</a>-->
                        <!--<a href="/sub_category/winter-jackets">Party Dresses</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-hover">-->
                    <!--<div class="resp-nav-wrap">-->
                        <!--<div>-->
                            <!--<a href="/category/trousersjeans/" class="nav-hover-btn">-->
                                <!--Trousers&Jeans-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div><span class="nav-icon glyphicon glyphicon-menu-down"></span></div>-->
                    <!--</div>-->
                    <!--<div class="subnav-hover">-->
                        <!--<a href="/sub_category/leder-jackets">Trousers</a>-->
                        <!--<a href="/sub_category/winter-jackets">Jeans</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class="navbar-tools">-->
                <!--<div class="user-tool">-->
                    <!--{% if not request.user.is_authenticated %}-->

                    <!--<a href="{% url 'login'%}"><span class="lnr lnr-user nav-bar-line-1" title="Login"></span>-->
                        <!--<span class="nav-bar-line-2">Login-->
                        <!--<span class="lnr lnr-chevron-down"></span>-->
                        <!--</span></a>-->
                    <!--{% else %}-->
                    <!--<a href="{% url 'account'%}"><span class="lnr lnr-user nav-bar-line-1" title="My account"></span>-->
                        <!--<span class="nav-bar-line-2">Account-->
                        <!--<span class="lnr lnr-chevron-down"></span>-->
                    <!--</span></a>-->
                    <!--{% endif %}-->
                <!--</div>-->
                <!--<div class="user-tool">-->
                    <!--<a href="#"><span class="lnr lnr-heart nav-bar-line-1" title="Wish list"></span>-->
                        <!--<span class="nav-bar-line-2">Wish list-->
                        <!--<span class="lnr lnr-chevron-down"></span>-->
                    <!--</span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="basket-info">&ndash;&gt;-->
                <!--&lt;!&ndash;&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="drop-basket-li">&ndash;&gt;-->
                <!--<div class="user-tool">-->
                    <!--<a href="{% url 'cart' %}" class="drop-tog"><span-->
                            <!--class="lnr lnr-cart nav-bar-line-1">-->
                                <!--<span class="basket" id="cart-total-amount" style="float:right;">{{ items }}</span>-->
                            <!--</span>-->
                        <!--<span class="nav-bar-line-2">Basket</span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash;товары в выпадающей корзине&ndash;&gt;-->
                <!--<ul id="dropdownMenuBasket" class="dropdown-menu">-->
                    <!--<li>-->
                        <!--<div class="dropdown-item-basket-container">-->
                            <!--<div class="dropdown-item-basket-img">-->
                                <!--<img id="curent-img" src="#">-->
                            <!--</div>-->
                            <!--<div class="dropdown-item-basket-info">-->
                                <!--<p id="bask-it-title"></p>-->
                                <!--<p id="bask-it-pr"></p>-->
                                <!--<p id="bask-it-size"></p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="resp-nav">-->
            <!--<a href="#"><span id="icon-resp-nav" class="lnr lnr-menu"-->
                              <!--style="font-size: 1.7em;"></span></a>-->
        <!--</div>-->
        <!--{% if request.user.is_superuser %}-->
        <!--<div class="sup-us-pan">-->
            <!--<a href="/admin">Admin Panel</a>-->
        <!--</div>-->
        <!--{% endif %}-->

    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash; Page Content &ndash;&gt;-->
<!--<div class="content-wrapper flex-col">-->
    <!--&lt;!&ndash;block content для отображения части страницы и правильного наследования&ndash;&gt;-->
    <!--{% block content %}-->
    <!--<div class="content">-->
        <!--<div class="page-cont page-grid-full">-->
            <!--<button class="prev"><</button>-->
                <!--<button class="next">></button>-->
            <!--&lt;!&ndash;слайдер&ndash;&gt;-->
            <!--<div class="promo-slider-wrapper">-->
                <!--<div class="promoslider flex-row">-->
                    <!--{% for i in promotionimgs %}-->
                    <!--<div class="slide-item"><img class="slide-image" src="{{ i.image.url }}" alt=""></div>-->
                    <!--{% endfor %}-->
                <!--</div>-->

            <!--</div>-->
            <!--<br>-->
            <!--<div class="content">-->
                <!--&lt;!&ndash;цикл для отображения товаров&ndash;&gt;-->
                <!--{% for product in products %}-->
                <!--<div class="page-cont page-grid-quarter">-->
                    <!--<div class="thumbnail">-->
                        <!--<a href="{{ product.get_absolute_url }}">-->
                            <!--{% for img in product.images.all|slice:":1" %}-->
                            <!--<div class="item-image">-->
                                <!--<img src="{{ img.image.url }}">-->
                            <!--</div>-->
                            <!--{% endfor %}-->
                        <!--</a>-->
                        <!--<div class="info-container">-->
                            <!--<div class="item-label">-->
                                <!--<div class="item-brand-name">-->
                                    <!--{{ product.brand }}-->
                                <!--</div>-->
                                <!--<div class="item-article-name">-->
                                    <!--{{ product.title }}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="item-price">-->
                                <!--<div class="item-original-price">-->
                                    <!--{{ product.price }} €-->
                                <!--</div>-->
                                <!--<div class="item-sale-price">-->
                                    <!--&lt;!&ndash;скидочная цена&ndash;&gt; SALE-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--{% endfor %}-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->
    <!--{% endblock content %}-->
<!--</div>-->
<!--&lt;!&ndash; /.container &ndash;&gt;-->

<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->

<!--&lt;!&ndash;<hr>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Footer &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<footer>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="page-cont page-full">&ndash;&gt;-->
<!--&lt;!&ndash;<p>Copyright &copy; My Website 2018</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</footer>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash; /.container &ndash;&gt;-->

<!--</body>-->
<!--</html>-->

<!--&lt;!&ndash;пример на потом если нужны слайдеры с товарами-->
<!--{% for product in products %}-->
<!--{% if forloop.first %} это условие чтобы был слайдер активным если идет первый элемент если показываем по одному товару-->

<!--здесь первый элемент слайдера сслыка на картики товара {{ product.image.url }}-->
<!--сюда же можно кнопку на товар добавить <a href="{{ product.get_absolute_url }}"><button > {{product.title}}</button></a>-->

<!--{% else %}-->

<!--здесь второй элемент слайдера (цикл :)) сслыка на картики товара {{ product.image.url }}-->
<!--и тут так же с кнопками-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--&ndash;&gt;-->
   // скрипт для динамического изменения колличества товаров возле иконки корзины
$(document).ready(function () {
    $('.add-to-cart').on('click', function () {
        if ($(this).attr('data-size')) {
            product_slug = $(this).attr('data-slug');
            product_title = $(this).attr('data-title');
            product_price = $(this).attr('data-price');
            product_size = $(this).attr('data-size');
            var cur_src = $('div.main-img img').first().attr('src');
            data = {
                product_slug: product_slug,
                product_size: product_size,
                product_title: product_title,
                product_price: product_price,
            }
            $('#curent-img').attr('src', cur_src);
            $.ajax({
                type: 'GET',
                url: '{% url "add_to_cart" %}',
                data: data,
                success: function (data) {
                    $('#cart-total-amount').html(data.cart_total_amount);
                    $('#bask-it-title').html(product_title);
                    $('#bask-it-pr').html(product_price + ' EUR');
                    $('#dropdownMenuBasket').show(500).delay(1000).fadeOut(500);
                }
            });
        }
        else {
         $('div.dropdown-choices div.h-text').css('color', 'red');
        }
    });
});

// choose size script
$('div.row-size').on('click', function(){
    $('div.dropdown-choices div.h-text').css('color', '#333');
    var size_id = $(this).children().first().attr('data-size');
    var size = $(this).children().first().html();
    var stock = $(this).children().last().attr('data-stock');
    if (stock > 0) {
        $('.add-to-cart').attr('data-size', size_id);
        $(".dropdown-content").slideUp();
        $('#bask-it-size').html(size);
        $('div.dropdown-choices div.h-text').html(size);
    }
});

 // script for dropdown show Size
    $(document).ready(function () {
        $('.dropdown-choices').on('click', function () {
                if ($(".dropdown-content").is(":hidden")) {
                    $(".dropdown-content").slideDown("slow");
                }
                else {
                    $(".dropdown-content").slideUp();
                }
            }
        );
    });

    // script for fotogalerie

    var triggers = $('div.triger-column-slider img');
    var images = $('div.row-slider div.main-img img');
    var target;
    var lastElem;

    triggers.first().addClass('active');
    images.hide().first().show();

    function sliderResponse(target) {
        images.fadeOut(0).eq(target).fadeIn(0);
        triggers.removeClass('active').eq(target).addClass('active');
    };

    triggers.click(function () {
        if (!$(this).hasClass('active')) {
            target = $(this).index();
            sliderResponse(target);
        }
    });

    function TurnImgSliderRight(target) {
        if (target < (triggers.length - 1)) {
            target === lastElem ? target = 0 : target = target + 1;
            sliderResponse(target);
        }
        else {
            target = 0;
            sliderResponse(target);
        }
    };

    function TurnImgSliderLeft(target) {
        lastElem = triggers.length - 1;
        target === 0 ? target = lastElem : target = target - 1;
        sliderResponse(target);
    };

    // Turn product slider galery
    $('div.row-slider a.next').click(function () {
        target = $('div.triger-column-slider img.active').index();
        TurnImgSliderRight(target);
    });

    $('div.row-slider a.prev').click(function () {
        target = $('div.triger-column-slider img.active').index();
        TurnImgSliderLeft(target);
    });

    // Script for modal Img
    $(document).ready(function () {
        var windowSize = $(window).width();
        if (windowSize > 480) {
            $('div.main-img img').on('click', function () {
                $('#cont-img').css('display', 'block');
                imgSrc = $(this).attr('src');
                $('#mod-show').attr('src', imgSrc);
                $('#mod-show').addClass('active')
            });
        }
    });

    // Turn Modal Galery
    $('div.modal-slider-control span.next').click(function () {
        target = $('div.triger-column-slider img.active').index();
        TurnImgModalRight(target);
    });

    $('div.modal-slider-control span.prev').click(function () {
        target = $('div.triger-column-slider img.active').index();
        TurnImgModalLeft(target);
    });

    function TurnImgModalRight(target) {
       if (target < (triggers.length - 1)) {
            target === lastElem ? target = 0 : target = target + 1;
            modalResponse(target);
        }
        else {
            target = 0;
            modalResponse(target);
        }
    };

    function TurnImgModalLeft(target) {
        lastElem = triggers.length - 1;
        target === 0 ? target = lastElem : target = target - 1;
        modalResponse(target);
    };

    function modalResponse(target) {
        var img = $('#mod-show');
        triggers.removeClass('active').eq(target).addClass('active');
        tRoot = $('div.triger-column-slider img.active').attr('src');
        img.attr('src', tRoot);
    };

    // Script for close modal Img

    $('.remove-cont .lnr-cross').on('click', function () {
        $('.remove-cont .lnr-cross').parents('div').fadeToggle();
      //  $('.modal-product-galerie').fadeToggle();
       // $('#mod-show').removeClass('active');

    });

    $(document).on('keydown', function(event){
        if (($('#mod-show').hasClass('active')) && (event.which == 27)){
            $('.modal-product-galerie').fadeToggle();
        };
    });

    // Turn product slider galery on Touchscreen
    var touch_position;

    function turn_start(event) {
        touch_position = event.touches[0].pageX;
    }

    function check_direction(event) {
        var tmp_move = touch_position - (event.touches[0].pageX);
        if (Math.abs(tmp_move) < 10) {
            return false;
        }
        if (tmp_move < 0) {
            direction = 1;
        }
        else {
            direction = 0;
        }
    };

    function turn_page(event) {
        if (direction == 1) {
            target = $('div.triger-column-slider img.active').index();
            TurnImgSliderRight(target);
        }
        else {
            target = $('div.triger-column-slider img.active').index();
            TurnImgSliderLeft(target);
        }
    };





















    // Script for modal Size guide with resposive tabs

    $(document).ready(function () {
        $('a.modal-menu').on('click', function () {
            $('#size-guide').css('display', 'block');

            var tablink = $('div.tab-caption');
            var tabcont = $('div.tab-content');
            var target;

            tablink.first().addClass('active');
            tabcont.hide().first().show();

            function tabResponce(target) {
                tabcont.fadeOut(0).eq(target).fadeIn(0);
                tablink.removeClass('active').eq(target).addClass('active');
            }

            tablink.click(function () {
                if (!$(this).hasClass('active')) {
                    target = $(this).index();
                    tabResponce(target);
                }
            });
        });
    });


    // Script for close modal Size guide Tab

    $(document).ready(function () {
        $('div.modal-tab div.remove-cont .glyphicon-remove').on('click', function () {
            $('#size-guide').css('display', 'none')
        });
    });


