


ul.main-nav-bar { десктоп
    min-width: 45vw;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}




.navbar-tools { видимо десктоп
    position: relative;
    float: left;
    display: inline-block;

    padding: 0 10px 0 10px;
}



.navbar-text a{
    cursor: pointer;
    color: #9d9d9d;
    text-decoration: none;
}
.navbar-text:hover a, .navbar-text:hover{
    color: #ffff
}
.nav-icon { десктоп
    display: none;
}

.basket {
    font-weight: 200 !important;
}


.navbar {
            background-color: #10024f;
}
.close-pop-up { десктоп
    display: none;
}
li.drop-basket-li span{
    color: #9d9d9d;
}
ul.navbar-nav.navbar-right{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul.navbar-nav.navbar-right:hover a, ul.navbar-nav.navbar-right:hover span{
    text-decoration: none;
    color: #ffff;
}
/* Admin Panel*/
.sup-us-pan {
    position: fixed;
    top: 0;
    right: 0;
}
.sup-us-pan a{

}
/*!стили для dropdown menu*/




.dropdown-item-total-container {
    display:flex;
    flex-direction: row;
    margin: 0.2vh 0 -2vh 0;
    padding: 2vh 0 2vh 0;
    background-color: whitesmoke;
}
.dropdown-menu-total {
    flex-grow: 1;
    font-weight: bolder;
    white-space: nowrap;
    padding-left: 1vw;
}

/* Content Styles */







/* Promo Imgs slider */



/*.slide-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.slide-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.slide-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}*/


}
/*!стили для отображения товаров в категориях и на главной странице*/




.button-purchase {
    margin: auto;
}
/*!Стили для product page*/
.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*!Стили для корзины*/

/*стили для слайдера в продуктах*/
@media (min-width: 1200px) {
    .content-wrapper {
        width: 1170px;
  }

}
@media (min-width: 992px) {
    .content-wrapper {
        width: 970px;
    }

}

@media only screen and (min-width: 769px) { десктоп



.navbar-tools { хззз
    min-width: 25vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

}

}

/*PRODUCT PAGE*/
@media only screen and (max-width: 768px) {
	/* iPad - Landscape*/

/*li.nav-hover:hover div.subnav-hover{
            display: none;
}*/


.content-wrapper {
        width: 750px;
    }
.product-price {
    font-size: 1.4em;
    }
}

@media only screen and (max-width: 480px){
/* Smartphones */







.flex-row {
        flex-wrap: wrap;
    }
.product-price {
    font-size: 1.4em;
    }


}
/* end Smartfones styles*/














/*!Стиль для дропдауна при выборе размеров*/







/* Img galerie carousel styles*/





/*.col-carusel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: auto;
    border: solid;
    padding: 2vh 2vw 2vh 2vw;
}
.col-carusel:after {
    content: " ";
    display: table;
    clear: both;
}*/

/* Style for <a> for gradient*/


/* Modal Img */





